<div class="title">
  <h1>Welcome to URL shortener<h1>
</div>
<div class="container">
  <h2>Create shortened URLs</h2>
  <form type="/create" method="post">
  <input type="text" value="put your url here" name="url">
  <input type="submit">
  </form>
  <p><%=@hidden%></p>
</div>